* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    background: #5f5b5b;
    overflow-x: hidden;
}

/* Собираем заголовок страницы */
.top_container {
    margin: 0 auto;
    background-color: #222222;
}

.head_navbar {
    width: 1140px;
    margin: 0 auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
}

/* Настройки для логотипа */
.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    padding-top: 18px;
    padding-bottom: 19px;
    margin-left: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #ffffff;
}

/* Настройки кнопок в заголовке */
.head_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    margin-right: -50px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

#menu_toggle {
    opacity: 0;
}

#menu_toggle:checked ~ .menu_box {
    display: flex;
}

.menu_btn {
    padding-right: 25px;
}
.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
    display: block;
    position: absolute;
    width: 32px;
    height: 3px;
    background-color: #e8e8e8;
    transition-duration: 0.15s;
}

.menu_btn > span {
    margin-top: -5px;
    padding-right: 10px;
}
.menu_btn > span::before {
    content: "";
    top: -10px;
}
.menu_btn > span::after {
    content: "";
    top: 10px;
}
/* Настройка всплывающего меню */
.menu_box {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 75px;
    right: 50px;
    width: 232px;
    height: auto;
    margin: 0;
    padding-top: 32px;
    padding-left: 33px;
    list-style: none;
    background-color: #2c2b2b;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
    z-index: 10;
}

.menu_box h2 {
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    color: #ffffff;
}
.menu_item {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    transition-duration: 0.15s;
}