server:
  port: 8090
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.0.173:3306/scada
    username: alex
    password: 1234
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html

